<% provide(:title, "Home") %>
<h1>Home</h1>
<% if !user_signed_in? %>
  <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %></p>
<% else %>
  <p>Welcome back, <% current_user.username %></p>
<% end %>
