#application {
  position: relative;
  width: 75%;
  margin: auto;
}

#top-bar {
  border: 1px solid black;
  position: relative;
  
  nav ul {
    position: absolute;
    margin: 1em 0;
    right: 1.5em;
    bottom: 10px;
  }
}

ul, ol, li {
  display: inline;
  top: 20px;
}
