<div class="pure-g" id="top-bar">
  <div class="pure-u-3-5">
    <h1>Placeholder for Title</h1>
  </div>
  <nav class="pure-u-2-5">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Home", user_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
      <% end %>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>